@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playpen+Sans:wght@800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 5vh 5vw;
    background-color: #308391;

}

.container {
    width: 100%;
    height: 100%;
    padding: 5vh 5vw;
    border-radius: 20px;
    background-color: rgba(237, 236, 236, 0.7);
    box-shadow: 0 0 10px  #308391, 0 0 20px rgb(36, 36, 36);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.display, .functional {
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    /* color: #a5aeb7; */
    color: rgb(105, 104, 33);
}

.display {
    height: 39%;
}

.functional {
    height: 59%;
}

.total-wrap, .balans-wrap {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    font-family: 'Playpen Sans', cursive;
    padding-top: 20px;
    font-size: 1.5em;
}

.balans-wrap {
    background-color: rgb(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgb(255, 255, 255, 0.9),  0 0 60px rgb(255, 255, 255, 0.7), 0 0 100px rgb(255, 255, 255, 0.5);
    width: 260px;
    height: 260px;
    border-radius: 50%;
    gap: 1vh;
}

.tl-income, .balans, .tl-expenses {
    background-color: rgb(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
}

.tl-income, .tl-expenses {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(255, 255, 255, 0.9),  0 0 60px rgb(255, 255, 255, 0.7);

}

.balans  {
    border: none;
    font-size: 4em;
    background-color: transparent;
    color: rgba(164, 162, 52, 0.7);
}

.income-wrap, .expenses-wrap {
    width: 40%;
    height: 90%;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: center;
    gap: 5vh;
    padding: 3vh;
    position: relative;
}

.income-wrap h2, .expenses-wrap h2 {
   color: rgb(153,153,128);
   font-size: 2.5em;
   font-family:'Pacifico', cursive;
   position: absolute;
   top: -8vh;
   left: 11vw;
   text-shadow: 10px 0 20px rgb(255, 255, 255, 0.9), 10px 10px 60px rgb(255, 255, 255, 0.4);
}

.in-data, .ex-data {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    /* background-color: rgb(245, 222, 149); */
    /* background-color: hsl(189, 50%, 38%, 60%); */
    color:#308391;
    position: relative;
}

input {
    height: 100%;
    border: none;
    box-shadow: 0 0 10px hsl(189, 50%, 38%, 60%) inset, 0 0 10px hsla(190, 68%, 7%, 0.6) inset;
    border-radius: 10px;
    background-color:rgb(255, 255, 255, 0.8);
}

.income, .expenses {
    width: 15%;
    border-right: 2px solid rgb(155, 155, 27);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.ex-resource, .in-resource {
    width: 85%;
    padding-left: 2vw;
    padding-right: 12%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.ex-btn, .in-btn {
    position: absolute;
    right: 0.2vw;
    width: 10%;
    height: 80%;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1em;
    color: rgba(13, 53, 60, 0.6);;
}

.history {
    width: 100%;
    height: 70%;
    overflow: auto;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5vh;
    border-bottom: 1px solid gray;
}

.text {
    width: 80%;
}

.delete-btn {
    width: 10%;
    height: 3vh;
    border: none;
    font-weight: bold;
    font-size: 1em;
    background-color: #308391;
    color: wheat;
    border-radius: 10px;
}


